<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <p>
                Search by name: <input ng-model="$ctrl.query.name" />
                
                Filter by category: <input ng-model="$ctrl.query.category" />
            </p>
            
            <p>
                Sort by:
                <select ng-model="$ctrl.orderProp" ng-change="changed()">
                    <option value="name">
                        Alphabetical
                    </option>
                    <option value="category">
                        Category
                    </option>
                    
                    <option value="date">
                        Date
                    </option>
                </select>
                
            </p>
            
            <a href="#!/add"><button ng-if="isLogged()">Add recipe</button></a>
            <a href="#!/login"><button ng-if="!isLogged()">Login</button></a>
            <a href="#!/register"><button ng-if="!isLogged()">Sign up</button></a>
            <button ng-click="logout()" ng-if="isLogged()">Log out</button>
            
            <a href="#!/mine"><button ng-if="isLogged()">My recipes</button></a>
        </div>
        
        <div class="col-md-10">
            <ul class="recipes">
                <li ng-repeat="recipe in $ctrl.recipes | filter:$ctrl.query | orderBy:$ctrl.orderProp" class='thumbnail'>
                    
                    <a href="#!/recipes/{{recipe._id}}">
                        {{recipe.name}}
                    </a>
                    <p>Date: {{recipe.date}}</p>
                    
                    <p>Category: {{recipe.category}}</p>
                    
                    <p>Description: {{recipe.description_short}}</p>
                    
                    <p>Author: {{recipe.author_name}}</p>
                     
                     <button ng-click='destroy(recipe._id)' ng-if="isLogged() && (recipe.author_id == loggedId())">Delete</button>
                     <a href="#!/edit/{{recipe._id}}"><button ng-if='isLogged() && (recipe.author_id == loggedId())'>Edit</button></a>
                      
                </li>
            </ul>
            
        </div>
    </div>
</div>